{% extends 'base.html' %}
{% block head%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script>
    $(function() {
        $('.img-zoom').css("overflow", "hidden");
        $('.img-zoom').find('img').css({"transform-origin":"50% 65%", "transition":"transform 5s, filter 3s ease-in-out"});
        $('.img-zoom').find('img').css("transform", "scale(2)");
    });
</script
{% endblock %}
{% block content %}
<div class="row main">
    <div class="col-lg-12">
        {% for image in page.images %}
        <div class="img-zoom">
            <img src="{{ file_path }}/{{ image.path }}" id="idImg" class="img-responsive" style="width:100%" alt="Etusivun kuva"> 
        </div>
        {% endfor %}
        <div id="top" class="row etusivu">
            <div class="col-lg-5 etusivu">
                <article class="etusivu1"> 
                    <h1>Rakton Oy<br></h1>
                        RAKton Oy on asuntojen ja kiinteistöjen kuntotarkastuksiin ja korjausrakentamiseen erikoistunut yritys.
        
                        Asiakas saa kauttamme tarkastukset, raportoinnin sekä mahdolliset jatkotoimenpiteet nopeasti ja laadukkaasti.
                        
                        Päätavoitteemme on tuottaa palvelujamme asiakkaalle kokonaisvaltaisesti ja kustannustehokkaasti ilman välikäsiä.
                        
                        Henkilökuntamme koostuu pitkän kokemuksen omaavista rakennusalan ammattilaisista ja päätoimialueemme on Pirkanmaa.
                </article>
            </div>
            <div class="col-lg-5 etusivu">
                <article class="etusivu2">
                    <h1>Asiantuntija-<br>palvelumme<br></h1>
                    <ul>
                        <li>Asuntokaupan kuntotarkastukset</li>
                        <li>Lakisääteiset VSS-tarkastukset ja huollot</li>
                        <li>Vesivahinko- ja hometarkastukset</li>
                        <li>Asbesti- ja sisäilmanäytteiden otto ja analysointi</li>
                        <li>Korjaussuunnittelu ja -rakentaminen</li>
                        <li>Valvontatyöt</li>
                        <li>Taloyhtiöiden kuntoarviot (PTS)</li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
    

